/* src/index.css */
@import "tailwindcss";

@font-face {
  font-display: swap;
  font-family: 'Hanken Grotesk';
  font-style: normal;
  font-weight: 400;
  src: url('/fonts/hanken-grotesk-v12-latin-regular.woff2') format('woff2'); 
}

@theme {
  --font-hanken: 'Hanken Grotesk', sans-serif;
}